.button{
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: darkslategray;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}